/* BASIC css start */
#special{
    width: 1140px;
    margin: auto;}
#special a{
    font-size: 15px;
    display: inline-block;
    line-height: 1;
    color: #fff;
    margin: 15px 0 5px;}
/* BASIC css end */

